//Este archivo es un ejemplo de cómo debe ser el archivo .env para que la aplicación funcione correctamente. 
//No debe ser renombrado a .env, ya que el archivo .env es ignorado por git y no se subirá al repositorio. 
//En su lugar, cada desarrollador debe crear su propio archivo .env basado en este ejemplo 
API_KEY="aqui debes poner la api key de groq"
NEXTAUTH_SECRET="aqui debes poner el secreto de nextauth, puede ser cualquier cadena de caracteres, pero se recomienda que sea una cadena larga y aleatoria, esto sirve para proteger las sesiones de los usuarios"
NEXTAUTH_URL="aqui debes poner la url de tu aplicación, si estás desarrollando en local, puedes dejarlo como http://localhost:3000, pero si vas a desplegar la aplicación, debes cambiarlo por la url de tu aplicación desplegada"
GOOGLE_CLIENT_ID="aqui debes poner el client id de tu aplicación de google, para obtenerlo debes crear una aplicación en la consola de desarrolladores de google y habilitar la api de google sign in, luego debes crear unas credenciales de tipo oauth 2.0 y copiar el client id que te proporcionan"
GOOGLE_CLIENT_SECRET="aqui debes poner el client secret de tu aplicación de google"
NEXT_PUBLIC_GOOGLE_CLIENT_ID="aqui debes poner el client id de tu aplicación de google"
DATABASE_PATH= aqui debes poner la ruta donde se guardará la base de datos sqlite por ejemplo ./data/secure-campus.sqlite
GMAIL_USER= aqui debes poner el correo electrónico de tu cuenta de gmail, esta cuenta será utilizando para enviar correos electrónicos desde la aplicación.
GMAIL_PASS=caqui debes poner la contraseña de aplicación de tu cuenta de gmail, esta contraseña es diferente a la contraseña normal de tu cuenta de gmail.
NEXTAUTH_URL=http://localhost:3000